/**color*/
$colorForm: #d11d76;
$colorText: #ffffff;
$b-color: #ffffff;
$colorInput: #000000;
$b-colorForm: #2a2a2ad4;
/*text*/
$f-family: "Heebo", sans-serif;
$f-weight: 700;
$t-alignR: right;
$t-alignC: center;
/**/
$border-none: none;
$width-100: 100%;
